		<!-- 210907 :: footer add -->
		<div id="footer">
			<!-- page-foot -->
			<div class="page-foot">
				<div class="item-wrap">
					<!-- brand-site -->
					<div class="brand-site">
						<h2>brand site</h2>
						<ul>
							<li class="brand01"><a href="https://mba.hunet.co.kr/Mba/Curriculum">hunet MBA</a></li>
							<li class="brand02"><a target="_blank" href="https://pass.hunet.co.kr/PassGate">hunet 자격증</a></li>
							<li class="brand03"><a target="_blank" href="https://hrd.hunet.co.kr/">hunet 기업교육</a></li>
							<li class="brand04"><a target="_blank" href="https://edubank.hunet.co.kr/">hunet 평생교육원</a></li>
							<li class="brand05"><a target="_blank" href="https://www.hunet.co.kr/Book/">행복한 북클럽</a></li>
							<li class="brand06"><a target="_blank" href="https://www.happycollege.ac/">HAPPY COLLEGE</a></li>
							<li class="brand07"><a target="_blank" href="https://www.talentbank.co.kr/">Talent Bank</a></li>
							<li class="brand08"><a target="_blank" href="https://www.findks.com/">파인드강사</a></li>
							<li class="brand09"><a target="_blank" href="https://www.xiunaichina.com/">Global HRD HUNET 修耐</a></li>
							<li class="brand10"><a target="_blank" href="https://www.happyceo.or.kr/">사단법인 행복한경영</a></li>
						</ul>
					</div>
					<!-- //brand-site -->
				</div>
			</div>
			<!-- //page-foot -->

			<!-- page-foot -->
			<div class="page-foot">
				<div class="item-wrap">
					<!-- website-info -->
					<div class="website-info">
						<h2><a href="http://www.hunet.co.kr/">hunet</a></h2>
						<ul>
							<li><a target="_blank" href="https://company.hunet.co.kr/">회사소개</a></li>
							<li><a target="_blank" href="https://company.hunet.co.kr/Etc/Coop">제휴문의</a></li>
							<li><a target="_blank" href="https://company.hunet.co.kr/Recruit/Recruit">채용안내</a></li>
							<li><a target="_blank" href="https://my.hunet.co.kr/User/PolicyRules">이용약관</a></li>
							<li><a target="_blank" href="https://my.hunet.co.kr/User/PolicyPrivacy/"><strong>개인정보처리방침</strong></a></li>
							<li><a target="_blank" href="https://my.hunet.co.kr/User/PolicyPrivacy">이메일 무단수집 거부</a></li>
							<li><a target="_blank" href="http://www.hunet.co.kr/CustomerCenter/Index">고객행복센터</a></li>
							<li><a target="_blank" href="http://www.hunet.co.kr/CustomerCenter/LocationInfo">찾아오시는 길</a></li>
						</ul>
						<p>
							<span>(08389) 서울시 구로구 디지털로 26길 5 (구로3동 235-2) 에이스하이엔드타워 1차 8층 (주)휴넷</span>
							<span>대표이사 : 조영탁</span>
							<span>사업자등록번호 : 214-86-38356</span>
							<span>통신판매업신고 : 제 2008-서울구로-0308호 <a href="https://www.ftc.go.kr/www/bizCommView.do?key=232&amp;apv_perm_no=2008316011730200308" target="_blank">사업자정보확인</a></span>

							<span>전화 : 1588-6559</span>
							<span>팩스 : 02-6220-2581 (위탁계약서 제출 전용 : 0303-0100-2580 / 학점은행 전용 : 02-6220-2581)</span>
							<span>개인정보 보호책임자 : 변재명 (it@hunet.co.kr)</span>
							<span>개인정보 보유기간 : 회원탈퇴시까지</span>
						</p>
					</div>
					<!-- //website-info -->
					<!-- certified -->
					<div class="certified">
						<h2>certified</h2>
						<ul>
							<li class="certifi01">
								<a class="isms" href="javascript:;">정보보호관리체계 ISMS 인증 획득</a>
								<div class="certification">
									<img src="https://img.hunet.co.kr/hunet/main_v3/certification.png" alt="정보보호관리체계 ISMS 인증 획득">
								</div>
							</li>
							<li class="certifi02">SCORM 인증레벨 획득</li>
							<li class="certifi03">기관인증평가 3년 인증</li>
							<li class="certifi04">BHA 최우수훈련기관 인증</li>
							<li class="certifi05">인적자원개발 우수기관</li>
							<li class="certifi06">기술신용보증기금 선정 우량기술기업</li>
							<li class="certifi07">마이크로소프트 공식 파트너</li>
							<li class="certifi08">사람투자</li>
						</ul>
					</div>
					<!-- //certified -->
				</div>
			</div>
			<!-- //page-foot -->
		</div>
		<!-- /210907 :: footer add -->
    </body>
</html>