<!-- subTopVisual -->
<section class="sub-visual">
	<div class="tit-wrap">
		<h2>간편 견적 다운로드</h2>
		<ul>
			<li>교육 선택</li>
			<li>정보 입력</li>
			<li>견적서 출력</li>
		</ul>
	</div>
</section>
<!-- /subTopVisual -->